{% extends "report_layout.html" %}

{% block title %}
{{ name }} Report
{% endblock %}

{% block report_title %}
Boulderworld Companion
{% endblock %}

{% block link %}
"https://boulderworld-companion.herokuapp.com/"
{% endblock %}

{% block tags %}
<!-- for loop over tags -->
<span class="badge rounded-pill bg-primary">Python (Flask)</span>
<span class="badge rounded-pill bg-primary">Jinja</span>
<span class="badge rounded-pill bg-primary">HTML/CSS/JS</span>
<span class="badge rounded-pill bg-primary">PostgreSQL</span>
<span class="badge rounded-pill bg-primary">Heroku</span>
{% endblock %}

{% block introduction %}

{% endblock %}

{% block methodology %}

{% endblock %}

{% block discussion %}

{% endblock %}

{% block conclusions %}

{% endblock %}

{% block review %}

{% endblock %}
</div>