<div class="row justify-content-md-center text-start">
    <div class="card mb-3 text-start px-0" style="max-width: 820px; min-height: 250px;">
        <div class="row g-0 card-row">
            <div class="col-md-4">
                <img src=".\static\img\league_tile.png" class="img-fluid rounded-start" alt="..." style="height: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body py-4">
                    <h5 class="card-title">League of Legends API</h5>
                    <p class="card-text">
                        My first project using Flask involved using Riot Games' League of Legends API to pull
                        up-to-date match results,
                        allowing users to explore the data and track their performance.
                    </p>
                    <p class="card-text"><small class="text-muted">Python, HTML, CSS, JavaScript, Jinja, SQLite,
                            Heroku, Riot API</small></p>
                    <a href="http://league-api-project.herokuapp.com/" target="_blank" rel="noopener noreferrer"
                        class=" btn btn-primary" role="button">Visit</a>
                    <a href="/report/League API" class="btn btn-success" role="button">Write up</a>
                    <a href="#" class="btn btn-secondary" role="button">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="card mb-3 text-start px-0" style="max-width: 820px; min-height: 250px;">
        <div class="row g-0 card-row">
            <div class="col-md-4">
                <img src=".\static\img\topout_tile.png" class="img-fluid rounded-start" alt="..."
                    style="height: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body py-4">
                    <h5 class="card-title">TopOut!</h5>
                    <p class="card-text">
                        Back again with Flask, this time building an climbing companion app, allowing users 
                        to keep track of their scores and compete with others.
                    </p>
                    <p class="card-text"><small class="text-muted">Python, HTML, CSS, JavaScript, Jinja, PostgreSQL,
                            Heroku</small></p>
                    <a href="https://www.topout.app/" target="_blank" rel="noopener noreferrer"
                        class="btn btn-primary" role="button">Visit</a>
                    <a href="/report/TopOut" class="btn btn-success" role="button">Write up (WIP)</a>
                    <!-- <a href="https://github.com/Arr-Dee/boulderworld-companion" class="btn btn-secondary"
                        role="button">GitHub</a> -->
                </div>
            </div>
        </div>
    </div>
</div>